@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

/* @import "tailwindcss/preflight";
@tailwind utilities; */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
@import "tailwindcss/preflight";
@tailwind components;
@tailwind utilities; */

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@keyframes gradient {
  0%,
  100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

@keyframes marquee-ltr {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0%);
  }
}
.animate-marquee-ltr {
  animation: marquee-ltr linear infinite;
}

#root,
html,
body {
  height: 100%;
}
#root {
  overflow-y: scroll;
}
.animate-gradient {
  background-size: 200% 200%;
  animation: gradient 2s ease-in-out infinite;
}
